* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.outerbody {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.signup-form {
  width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.signup-form h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

.form-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 18px;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #444;
}

.form-group input,
.form-group select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #2563eb;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-btn {
 width: 100%;
 margin-top: 5px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}